html{
    overflow: scroll;
    overflow-x: hidden;
    background:rgb(30, 37, 41);
}
::-webkit-scrollbar {
    width: 0;
}

.parent{
   filter: none;
    transition: 0.5s;
}
/*---------NAV----------------*/
.nav{
    transition: 0.5s;
    z-index: 2;
    position: absolute;
    left: -87px;
    top:0;
    height: 100%;
    background:rgb(30, 37, 41);
    width:85px;
    text-align: center;

}
.nav_header{
    z-index: 2;
    padding-top:10px;
    top:0;
    height:60px;
    width:83px;
    background:rgb(41, 45, 62);
    border-bottom: rgb(188, 229, 250) 2px solid;
    border-right: rgb(188, 229, 250) 2px solid;
}
.nav_header div{
    color:rgb(188, 229, 250);
}
.nav_body{
    z-index: 2;
    background: rgb(41, 45, 62);
    margin-top:10px;
    border-right:rgb(30, 37, 41) 2px solid;
    height:100%;

}
.rot_text{
    background:transparent;
    margin:0;
    transition: 0.5s;
}
.nav_show{
    animation: fadeInLeft;
    animation-duration: 3s;
    font-size:20px;
    color:rgb(33, 41, 44);
    box-shadow:
            0 0 2px rgba(255,255,255,.8),
            0 0 3px rgba(255,255,255,.8),
            0 0 4px rgba(255,255,255,.8),
            0 0 5px rgba(66,220,219,.8),
            0 0 6px rgba(66,220,219,.8),
            0 0 7px rgba(66,220,219,.8),
            0 0 8px rgba(66,220,219,.5),
            0 0 9px rgba(66,220,219,.5);
    background: linear-gradient(90deg, rgba(11,91,91,1) 0%, rgba(52,122,128,1) 4%, rgba(82,146,155,1) 8%, rgba(188,229,250,1));
    height: 30px;
    z-index: 2;
    margin-top: 8px;
    position: absolute;
    width: fit-content;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: white 1px solid;
    border-left: none;
    padding-left: 15px;
    left:0;
    transition: 0.5s;


}
.nav_show:hover{
    transition: 0.5s;
    box-shadow:
            0 0 5px rgba(255,255,255,.8),
            0 0 8px rgba(255,255,255,.8),
            0 0 10px rgba(255,255,255,.8),
            0 0 6px rgba(66,220,219,.8),
            0 0 7px rgba(66,220,219,.8),
            0 0 10px rgba(66,220,219,.8),
            0 0 15px rgba(66,220,219,.5),
            0 0 20px rgba(66,220,219,.5);
}
.button-nav{
    color:rgb(188, 229, 250);
    z-index: 2;
    margin: 0;
    border-bottom: rgb(188, 229, 250) 2px solid;
    border-right: none;
    border-left: none;
    border-top: none;
    height: 40px;
    background: rgb(41, 45, 62);
    width: 100%;
    transition: 2s;
}
.button-nav:hover{
transition: 0.2s;
    color: white;
    text-shadow: 0px 0px 16px #00FFF8, 10px 0px 16px #00FFF8, -10px 0px 16px #00FFF8;
    box-shadow: 6px 1px 3px -3px #FFFFFF,
    9px 0px 5px -4px #51DCFF;
}
/*-----------------------------------*/

div{
    font-family: 'Play', sans-serif;
}
h1{


    text-shadow: 3px 2px 3px rgba(255,255,255,.2);
    font-size: 40px;
    text-align: center;
    color: rgb(188, 229, 250);
    font-family: 'Play', sans-serif;

}

h2{
    margin-left: 10px;
}

.buttonReg{

    transition: 0.5s;
    box-shadow: 0px 0px 15px 3px #292d3e;
    background: radial-gradient(circle, rgba(66,72,100,1) 42%, rgba(41,45,62,1) 100%);
    border-radius:17px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);

    display:inline-block;
    cursor:pointer;
    color:rgb(188, 229, 250);
    font-family: Arial, serif;
    font-size:25px;
    padding:20px 50px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;

}
.buttonReg:hover{
    font-size: 28px;
    transition: 0.5s;
    background: radial-gradient(circle, rgba(66,72,100,1) 42%, rgba(41,45,62,1) 100%);
}
.buttonReg:active{
    transition: 0.5s;
    position:relative;
    top:1px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 19px;
    grid-row-gap: 30px;
}

.div1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-area: 1 / 1 / 2 / 6;
    background: rgb(41, 45, 62);
    animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    height: 90px;
}

.div2 {

    animation: glowDiv2 linear infinite;
    animation-duration: 2s;
    grid-area: 2 / 1 / 5 / 3;
    background: rgb(41, 45, 62);

    color: rgb(133, 163, 178) ;
    border-radius: 20px;
    border: 2px solid white;
    position: relative;

    transition: 2s;

}
.div2:hover{
    animation:none;
    color:rgb(188, 229, 250) ;
    transition: 0.5s;
    box-shadow:
            0 0 5px rgba(255,255,255,.8),
            0 0 8px rgba(255,255,255,.8),
            0 0 10px rgba(255,255,255,.8),
            0 0 6px rgba(66,220,219,.8),
            0 0 7px rgba(66,220,219,.8),
            0 0 10px rgba(66,220,219,.8),
            0 0 15px rgba(66,220,219,.5),
            0 0 20px rgba(66,220,219,.5);
}

@keyframes glowDiv2 {

    0%,100% {
        box-shadow:  0 0 2px rgba(255,255,255,.8),

        0 0 3px rgba(255,255,255,.8),
        0 0 4px rgba(255,255,255,.8),
        0 0 5px rgba(66,220,219,.8),
        0 0 6px rgba(66,220,219,.8),
        0 0 7px rgba(66,220,219,.8),
        0 0 8px rgba(66,220,219,.5),
        0 0 9px rgba(66,220,219,.5);
    }
    50% {
        box-shadow:
                0 0 5px rgba(255,255,255,.8),
                0 0 8px rgba(255,255,255,.8),
                0 0 10px rgba(255,255,255,.8),
                0 0 6px rgba(66,220,219,.8),
                0 0 7px rgba(66,220,219,.8),
                0 0 10px rgba(66,220,219,.8),
                0 0 15px rgba(66,220,219,.5),
                0 0 20px rgba(66,220,219,.5);
    }
}



.div3 {

    color: rgb(133, 163, 178) ;

    animation:glowDiv3 linear infinite 2s ;

    background: rgb(41, 45, 62);
    grid-area: 2 / 4 / 5 / 6;

    border: white 1px solid;
    border-radius: 20px;

    transition: 2s;
}
.div3:hover{
    animation:none;
    color:rgb(188, 229, 250) ;
    transition: 0.5s;
    box-shadow:
            0 0 5px rgba(255,255,255,.8),
            0 0 8px rgba(255,255,255,.8),
            0 0 15px rgba(255,255,255,.8),
            0 0 6px rgb(253, 217, 219,.8),
            0 0 7px rgb(246, 146, 148,.8),
            0 0 10px rgb(195, 115, 117,.8),
            0 0 30px rgb(234, 33, 39,.5),
            0 0 20px rgb(144, 84, 86,.5);
}
@keyframes glowDiv3 {

    0%,100% {
        box-shadow:
                0 0 2px rgba(255,255,255,.8),
                0 0 3px rgba(255,255,255,.8),
                0 0 4px rgba(255,255,255,.8),
                0 0 5px rgb(253, 217, 219,.8),
                0 0 6px rgb(246, 146, 148,.8),
                0 0 7px rgb(195, 115, 117,.8),
                0 0 8px rgb(234, 33, 39,.5),
                0 0 9px rgb(144, 84, 86,.5);
    }
    50% {
        box-shadow:
                0 0 5px rgba(255,255,255,.8),
                0 0 8px rgba(255,255,255,.8),
                0 0 15px rgba(255,255,255,.8),
                0 0 6px rgb(253, 217, 219,.8),
                0 0 7px rgb(246, 146, 148,.8),
                0 0 10px rgb(195, 115, 117,.8),
                0 0 30px rgb(234, 33, 39,.5),
                0 0 20px rgb(144, 84, 86,.5);
    }
}
.div4 {
    animation: fadeInUp;
    animation-duration: 2s;
    grid-area: 5 / 1 / 7 / 6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(41, 45, 62);
    border-radius: 20px;
    border: solid 3px slategray;
    color:rgb(188, 229, 250);
    margin-top:10px;
    transition: 0.5s;
}
.div4:hover{
    box-shadow: 5px -5px 5px 0px #FFFFFF,
    7px -7px 5px 0px #FF0004,
    -4px 4px 5px 0px #FFFFFF,
    -5px 5px 5px 0px #00B6FF,
    -10px 11px 14px 0px #C4FFFF,
    15px -13px 16px 0px #FFD1D1;
}
.div5 {
    box-shadow: inset 0px 0px 8px 1px black;
    animation: gradient 15s alternate infinite;
    animation-delay:0s;
    grid-area: 2 / 3 / 5 / 4;
    text-align: center;
    border: black solid 3px;
    border-radius: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


img{
    margin-top:12%;
    border-radius: 5px;


}
.form-box{
    text-align: center;
}






